body {
  text-align: center;
  background: url("../images/israelbjj.JPG");
  background-repeat:no-repeat;
  color: #fff;
  font-family: Ferro Rosso;

  background-size: cover;
  background-position: center;


}

div {
    height: 200px;
    width: 400px;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#slogan {
	font-style: italic;
	font-size: 32px;
	color: white;
}

h1 {
	font-size: 64px;
	color: red;
	/*width: 400px;*/
}
