body {
  text-align: center;
  background: url("../images/israelbjj.JPG");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

div {
    height: 200px;
    width: 400px;
    /*background: black;*/

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

#slogan {
	font-style: italic;
	font-size: 21px;
}

